<h4>Admin's page</h4>
<form action="/admin" method="POST"> 
	<label>Enter login</label>
    <input type="text" class="form-control" name="login" placeholder="" >
    <label>Password</label>
    <input type="text" class="form-control" name="password" placeholder="">
    </br>
    <p>
        <button type="submit" class="btn btn-success" onclick="cart_clear()">Submit</button>
    </p>
</form>

